################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoreDevOps
/CoreDevOps/bin/Debug/net5.0
/CoreDevOps/obj
